body{
    background-image: url("fondo-textura-gris_24972-653.jpg");

}

.container{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 100%;
    background: #3c4245;
    padding-bottom: 20%;
    opacity: 0.8;

}

.ing{
    color: rgb(8, 6, 6);
   height: 20px;
}

.btn{
    font-size: 1em;
    display: inline-block;
    background:#f4efd3;
    line-height: 2;
    padding: 0 1.5em;
    text-decoration: none;
    border-radius: 1.5em;
    border: 1px solid rgba(#e3b04b,.2);
    
    
}

/*#crip{
    padding: 5% 10% 0%;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'negrita';
    color:#e3b04b;
    margin-bottom: 0;
    }
    */

.texto{
    border-radius: 1em; 
    
}
.parrafo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'negrita';
    font-size: 15px;
    color:#f4efd3;
    padding: -10%;
}
